# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
env/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Data
Data/raw/
*.csv
*.json

# OS-specific
.DS_Store
Thumbs.db
